version: '3.8'
services:
  mongodbReservations:
    image: mongo:latest
    container_name: mongodbReservations
    ports:
      - "27019:27017"
    command: ["mongod", "--bind_ip_all"]
    volumes:
      - mongodb_data:/data/db

  reservation-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reservation-service
    environment:
      - QUARKUS_MONGODB_CONNECTION_STRING=mongodb://mongodbReservations:27017/reservations
    ports:
      - "8081:8081"
    depends_on:
      - mongodbReservations

volumes:
  mongodb_data:
